body {
  background-image:url("/images/sakurablossoms.png");
  font-family: 'Quattrocento', serif;
}

.container {
  margin: 0 auto;
  width: 600px;
  padding: 0px 0px 0px 0px;
}

.page-elements {
  padding:10px;
  opacity:0.8;
}

th {
  text-align: left;
}

h1 {
  font-size:3em;
  margin-bottom: 10px;
  text-align:center;
}

h2 {
  font-size:1em;
  text-align: center;
}

/* Poem */

h3 {
  font-size:1.2em;
}

h4 {
  text-align: right;
}

h4 a {
  text-decoration: none;
}

#userfeedback {
  position:absolute;
  left:35%;
  color:#5959AB;
}

#tweetfeedback {
  position:absolute;
  left:35%;
  color:#5959AB;
}


input {
  display:block;
  margin
}

p {
  margin:10px 0;
}

.sharebox {
  width:275px;
}

.sharetext {
  text-align:center;
  margin-top:40px;
  font-size:1.2em;
}

.or {
  text-align:center;
}

.poem-form {
  margin:50px 0;
  display:inline-block;
  width:250px;
  padding:0;
}

.poem-form input {
  width:275px;
}

.count-div {
  margin:0 0 20px 0;
}

.selection {
  display:inline-block;
  position:relative;
  left:100px;
  top:-250px;
}

.button {
  display:block;
  padding:10px;
  margin:20px 0;
  width:100%;
  background-color:#AAD4BF;
  border:none;
  border-radius:5px;
}

.button:hover {
  background-color:#AAD4D4;
}

footer {
  margin-top:20px;
  font-size:0.7em;
  text-align:center;
}

footer a{
  text-decoration: none;
  color:black;
}