<form>
  <label for="line_one">First Line:<input id="lineOne" type="text" name="line_one"></input>
  <div id="lineOneSCount"><p>Syllables Remaining: 5</p></div><label>

  <label for="line_two">Second Line:<input id="lineTwo" type="text" name="line_two"></input>
  <div id="lineTwoSCount"><p>Syllables Remaining: 7</p></div><label>

  <label for="line_three">Third Line:<input id="lineThree" type="text" name="line_three"></input>
  <div id="lineThreeSCount"><p>Syllables Remaining: 5</p></div><label>

  <button>submit</button>
</form>
